
  .logo img {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .mobile-logo {
    margin-top: 25px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .slidedown-logo img {
    margin-top: 2px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .top-footer {
    padding-top: 100px;
    padding-bottom: 0;
  }

  .main-footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  a,
  .revslider-button:hover,
  .portfolioFilter a.current,
  .projects .project .project-title:hover,
  .blogpage-title a:hover,
  .blogpage-categories a:hover,
  .blogpost-categories a:hover,
  .blogpage-comments-count a:hover,
  .blogpost-comments-count a:hover,
  .blogpage-readmore:hover,
  .widget.widget_nav_menu ul li .sub-menu li a:hover,
  .widget.widget_tag_cloud .tagcloud a:hover,
  body.woocommerce .star-rating:before,
  body.woocommerce .star-rating span:before,
  .widget_product_categories ul.children li a,
  .widget_shopping_cart .total {
    color: #1e2d3d;
  }

  .slick-dots li button:hover,
  .slick-dots li button:focus,
  .slick-arrow-right:hover,
  .slick-arrow-left:hover,
  input[type="submit"],
  .widget.widget_search .search-form button,
  .widget.widget_calendar .calendar_wrap table thead th,
  .blogpost-tags a,
  .comment-form .form-submit input[type="submit"],
  .error-page .error-page-button,
  .widget_price_filter .ui-slider .ui-slider-range,
  .widget_shopping_cart .buttons a.checkout,
  body.woocommerce .page-numbers li span.current,
  body.woocommerce-page.single-product .single_add_to_cart_button,
  body.woocommerce-cart .cart_totals .wc-proceed-to-checkout a.checkout-button,
  body.woocommerce-checkout .woocommerce-info,
  .woocommerce-MyAccount-navigation ul,
  .woocommerce-MyAccount-navigation ul li,
  .woocommerce-MyAccount-content .woocommerce-Button,
  .woocommerce-MyAccount-content .woocommerce-Message .woocommerce-Button,
  .woocommerce-MyAccount-content p .button {
    background: #23c0f1;
  }

  .revslider-button,
  input[type="submit"],
  input[type="submit"]:active,
  input[type="submit"]:focus,
  input[type="submit"]:hover,
  .widget.widget_search .search-form .form-control,
  input:active,
  textarea:active,
  .form-control:active,
  input:focus,
  textarea:focus,
  .form-control:focus,
  .widget.widget_tag_cloud .tagcloud a:hover,
  body.woocommerce .page-numbers li span.current,
  body.woocommerce .page-numbers li a:hover,
  .woocommerce-tabs.wc-tabs-wrapper ul.tabs li.active {
    border-color: #23c0f1;
  }

  .menu-button.menu-button-open i,
  .header3-phone-number {
    color: #e4002b;
  }

  .header-signup-btn:hover,
  body.header_transparent .nt-is-sticky .header .header-signup-btn:hover {
    background: #e4002b;
  }

  .header-signup-btn,
  body.header_transparent .nt-is-sticky .header .header-signup-btn {
    border-color: #e4002b;
  }

  .main-menu>ul>li>a,
  body.header_transparent .nt-is-sticky .main-menu>ul>li>a,
  .header2-fullscreen .mobile-menu li>a,
  .slidedown_menu .main-menu ul li a,
  body.header_transparent .slidedown_menu .main-menu ul li a {
    color: #fff;
  }

  .main-menu>ul>li.current_page_item>a,
  .main-menu>ul>li.current-menu-ancestor>a,
  .main-menu>ul>li.current-menu-parent>a,
  .main-menu>ul>li.current_page_ancestor>a,
  body.header_transparent .nt-is-sticky .main-menu ul li.current-menu-item a,
  .header2-fullscreen .mobile-menu li.current-menu-item>a,
  .header2-fullscreen .mobile-menu li.current_page_ancestor>a {
    color: #e4002b;
  }

  .main-menu ul li a:hover,
  body.header_transparent .nt-is-sticky .header .main-menu ul li a:hover,
  .header2-fullscreen .mobile-menu li>a:hover,
  body.header_transparent .slidedown_menu .main-menu ul li a:hover {
    color: #e4002b;
  }

  body.header_transparent .main-menu ul li a {
    color: rgba(255, 255, 255, 0.8);
  }

  body.header_transparent .main-menu ul li.current-menu-item a {
    color: #fff;
  }

  body.header_transparent .main-menu ul li a:hover {
    color: #fff;
  }

  .main-menu ul.sub-menu li a,
  body.header_transparent .main-menu ul.sub-menu li a,
  body.header_transparent .nt-is-sticky .main-menu ul.sub-menu li a,
  .header2-fullscreen ul.sub-menu li a {
    color: #111;
  }

  .main-menu ul.sub-menu li a:hover,
  body.header_transparent .main-menu ul.sub-menu li a:hover,
  body.header_transparent .nt-is-sticky .main-menu ul.sub-menu li a:hover,
  .header2-fullscreen ul.sub-menu li a:hover,
  .header2-fullscreen ul.sub-menu li.current-menu-item a {
    color: #e4002b;
  }

  .mobile-menu-wrapper.mobile-menu-open {
    background-size: cover;
    background-position: center center;
    background-image: url('../wp-content/uploads/2017/02/mobile-menu-bg2.jpg');
  }

  .mm-opened-logo {
    margin-top: 30px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 20px;
  }

  .main-footer {
    background-color: #1e2d3d;
  }

  .top-footer {
    background-color: #1e2d3d;
  }

  .footer .widget_title {
    color: #fff;
  }

  .footer {
    color: #676767;
  }

  .footer .widget.widget_archive ul li a,
  .footer .widget.widget_pages ul li a,
  .footer .widget.widget_meta ul li a,
  .footer .widget.widget_recent_comments ul li,
  .footer .widget.widget_recent_comments ul li a,
  .footer .widget.widget_recent_entries ul li a,
  .footer .widget.widget_categories ul li a,
  .footer .widget.widget_nav_menu ul li a {
    color: #565656;
  }

  .footer .widget.widget_archive ul li a:hover,
  .footer .widget.widget_pages ul li a:hover,
  .footer .widget.widget_meta ul li a:hover,
  .footer .widget.widget_recent_comments ul li a:hover,
  .footer .widget.widget_recent_entries ul li a:hover,
  .footer .widget.widget_categories ul li a:hover,
  .footer .widget.widget_nav_menu ul li a:hover {
    color: #fff;
  }

  .header1-phone-number,
  .header1-phone-text,
  .header-signup-btn,
  body.header_transparent .nt-is-sticky .header .header-signup-btn,
  .featured-box-title,
  .featured-box-link a,
  .services-grid figcaption .services-grid-title,
  .services-carousel figcaption .services-carousel-title,
  .services-grid-link a,
  .services-carousel-link a,
  .testimonials-grid .testimonial-name,
  .testimonials-carousel .testimonial-name,
  .testimonials-grid .testimonial-company,
  .testimonials-carousel .testimonial-company,
  .testimonials-grid .testimonial-project,
  .testimonials-carousel .testimonial-project,
  .portfolioFilter a,
  .project-in-filter .project-filter-title,
  .project-in-filter .project-filter-category a,
  .blog-carousel-inner .blog-grid-title,
  .blog-carousel-inner .blog-grid-categories,
  label,
  .label-control,
  input[type="submit"],
  .header3-phone-number,
  .header3-number-toptext,
  .mm-number .mm-number-toptext,
  .mm-number .mm-phone-number,
  .icon-box-title,
  .staff-grid .staff-name,
  .staff-grid .staff-position,
  .staff-grid .staff-department,
  .projects .project figcaption .project-category a,
  .projects .project .project-title,
  .projects .project figcaption .project-category a,
  .breadcrumbs,
  .blogpage-readmore,
  .comment-form .form-submit input[type="submit"],
  .footer .widget.widget_nav_menu ul li a,
  .widget.widget_nav_menu ul li .sub-menu li a,
  .widget.widget_calendar .calendar_wrap table caption,
  body.woocommerce.post-type-archive-product .woocommerce-result-count,
  .widget_shopping_cart .buttons a.checkout,
  .widget_shopping_cart .buttons a,
  strong,
  b,
  .widget_price_filter .price_slider_amount .button,
  body.woocommerce-page ul.products li.product h3,
  body.woocommerce-page ul.products li.product .button,
  body.woocommerce-page.single-product .single_add_to_cart_button,
  body.woocommerce-cart .shop_table th,
  body.woocommerce-cart .cart_totals .wc-proceed-to-checkout a.checkout-button,
  body.woocommerce-checkout .woocommerce-info {
    font-family: Poppins;
  }

  p,
  body {
    font-family: "Open Sans";
    font-weight: normal;
  }

  h1 {
    font-family: Poppins;
    font-weight: 700;
  }

  h2 {
    font-family: Poppins;
    font-weight: 700;
  }

  h3 {
    font-family: Poppins;
    font-weight: 700;
  }
  h3 a {
    font-family: Poppins;
    font-weight: 700;
    color: #fff
  }

  h4 {
    font-family: Poppins;
    font-weight: 700;
  }

  h5 {
    font-family: Poppins;
    font-weight: 700;
  }

  h6 {
    font-family: Poppins;
    font-weight: 700;
    font-size:17px;
  }

  .main-menu>ul>li>a,
  body.header_transparent .nt-is-sticky .main-menu>ul>li>a,
  .header2-fullscreen .mobile-menu li>a,
  .mobile-menu li>a {
    font-family: Poppins;
    font-weight: 900;
  }

  .main-menu ul.sub-menu li a,
  body.header_transparent .main-menu ul.sub-menu li a,
  body.header_transparent .nt-is-sticky .main-menu ul.sub-menu li a,
  .header2-fullscreen ul.sub-menu li a,
  .mobile-menu ul.sub-menu li>a {
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
  }

  .shop-page-title {
    background-size: cover;
    background-image: url('../wp-content/uploads/2017/02/revslider-3.jpg');
  }
  .blue-background{
    background-color: #e8f4fc;
  }
  .gradient {

  /* can be treated like a fallback */
  background-color: white;

  /* will be "on top", if browser supports it */
  background-image: linear-gradient(#e8f4fc,#e8f8f5);

  /* these will reset other properties, like background-position, but it does know what you mean */
  background: white;
  background: linear-gradient(#e8f4fc,#e8f8f5);

}

  section { background-color: white; margin: 10px; border:1px solid red; padding:10px; overflow:hidden; width: 334px; height: 275px; padding-left: 10px;}
    section > section { float:left; }
    .indent-1 { padding-left:10px; width: 1130px; height: 1130px; border:1px solid red; background-color: #efefef}
    .indent-2 { background-color: white; margin: 10px; border:1px solid black; padding:10px; overflow:hidden; width: 334px; height: 500px; padding-left: 10px;}

.card{
      width: 100%;
      background: linear-gradient(210deg,#1f9cd9 20%,#2094d6 30.000000000000004%,#218cd2 40%,#2084cf 50%,#1f7ccc 60.00000000000001%,#1c6cc5 80%,#145dbe);
      height: auto;
      margin: 0;
      z-index: 9999;
      border-radius: 10px 10px 0 0;
      padding-bottom: 40px;
}

.more{
      width: 100%;
      background: linear-gradient(210deg,#1f9cd9 20%,#2094d6 30.000000000000004%,#218cd2 40%,#2084cf 50%,#1f7ccc 60.00000000000001%,#1c6cc5 80%,#145dbe);
      height: auto;
      margin: 0;
      z-index: 9999;
      border-radius: 10px 10px 10px 10px;
      padding-bottom: 40px;
}

.more ul li{
  color: #fff ;
}

.more h6{
  color: #fff ;
}

h2 a:hover{
  color: #000 ;
}

.box{
  background-color:#23C0F1;width:350px;padding:10px;
  z-index: 10099;
  border-radius: 5px 5px 5px 5px;
  align-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.header-contact-btn{
  background-color:#1e2d3d;width:350px;padding:10px;
  border-radius: 5px 5px 5px 5px;
  align-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: poppins,sans-serif;
  text-transform: uppercase;
  color: #fff;

}
.clickroute{
  cursor: pointer;
}

.accountingbox{
      width: 100%;
      background: linear-gradient(210deg,
        #07b592 20%,
        #a2f9e8);
      height: auto;
      margin: 0;
      z-index: 9999;
      border-radius: 10px 10px 10px 10px;
      padding-bottom: 40px;
}

.officebox{
      width: 100%;
      background: linear-gradient(210deg,
        #cc5b95 20%,
        #f7dcea);
      height: auto;
      margin: 0;
      z-index: 9999;
      border-radius: 10px 10px 10px 10px;
      padding-bottom: 40px;
}

.cfobox{
      width: 100%;
      background: linear-gradient(210deg,
        #f4f42c 20%,
        #f7f7d9);
      height: auto;
      margin: 0;
      z-index: 9999;
      border-radius: 10px 10px 10px 10px;
      padding-bottom: 40px;
}

.grantbox{
      width: 100%;
      background: linear-gradient(210deg,
        #fc821e 20%,
        #f7d5b9);
      height: auto;
      margin: 0;
      z-index: 9999;
      border-radius: 10px 10px 10px 10px;
      padding-bottom: 40px;
}
