.p-image img{
    width: 100%;
    height: 420px;
}

.p-context p {
    padding: 3px;
    text-align: justify;
}


.new-padding{
    padding-bottom: 100px;
}


.box-image img {
    width: 263px;
    height: 175px;
}


.text-center {
    text-align: center;
}


.con-text {
    padding: 10px;
}

button.btn {
    background: #23C0F1;
    border: 0;
    border-radius: 50px;
 padding: 10px 10px 10px 15px;
    color: #fff;
}


.btn i {
    border: 2px solid;
    border-color: #fff;
    border-radius: 50%;
    padding: 5px 7px;
    margin-left: 20px;
    background: #fff;
    color: #23C0F1;
    font-size: 16px;
}




.cover p {
    position: relative;
    text-align: left;
    color: #fff;
    padding: 5px 10px;
}

.cover {
    width: 263px;
    height: 62px;
    background: #23C0F1;
    margin-top: -4px;
}


/* .cover-two{
    background: #EB5D68;
} */

/*
.icon-col-2{
    color:#CC5B95 !important;
}
*/

/* .cover-three{
    background: #FC821E;
}
 */

/*
.icon-col-3{
    color:#7B4669 !important;
}
*/


/* .cover-four {
    background: #C0CE06;
} */

/*
.icon-col-3{
    color:#C0CE06 !important;
}
*/


ul.details {
    text-align: left;
  
}


ul.details li {
    list-style: none;
    font-size: 16px;
    line-height: 25px
}


ul.details li i {
    color: #23C0F1;
    margin-right: 5px;
}

.new-table {
    margin-top: 50px;
}

.new-table h3 {
    padding-bottom: 20px;
}

tr.danger {
    background: #E3593C;
    color: #fff;
}



.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.pp_social { float: left; margin: 0; width:450px; display: none;} 
.pp_social .twitter { float: left; width: 90px;   display: none;}
.pp_social .facebook { float: left; margin-left: 15px; width: 80px; overflow: hidden;  display: none;}