/*
* multi-line comment
*/
p {
    line-height: 1em;
}

h1, h2, h3, h4 {
    color: black;
    font-weight: normal;
    line-height: 1.1em;
    margin: 0 0 .5em 0;
    /*text-align: left;*/
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.5em;
}

h4 {
    text-align: center;
}

h5 {
    text-align: -webkit-center;

    display: inline-flex;
    /*padding-left: 70px;*/
}

a {
    color: green;
    text-decoration: none;
}

a:hover,
a:active {
    text-decoration: underline;
}

/* you can structure your code's white space so that it is as readable for when you come back in the future or for other people to read and edit quickly */

body {
    font-family: arial;
    font-size: 80%;
    line-height: 1.2em;
    width: 100%;
    margin: 0;
    background: white;
}

/* you can put your code all in one line like above */
#page {
    margin: 20px;
}

header {
    padding: 1em;
    color: white;
    background-color: white;
    clear: left;
    text-align: left;
    padding-left: 300px;
    padding-top: 13px;
    border-bottom: 1px solid #cccccc;
}

nav {
    float: left;
    max-width: 700px;
    margin: 40px;
    padding: 1em;
    margin-right: -100px;
}

article {
    overflow: hidden;
    position: absolute;
    top: 119px;
    left: 250px;
    padding-top: 10px;
    width: 80%;
    margin: 0 auto;
    max-width: 77%;
    padding-left: 60px;

}

.header_cont {
    display: inline-block;
}

.header_cont img {
    position: absolute;
    top: 0px;
    right: 0px;
}

.header_cont button {
    /*background-color: darkseagreen;*/
    /*border: black;*/
    color: black;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 9px;
    cursor: pointer;
    border-radius: 12px;
}

.header_cont button:hover {
    background-color: darkseagreen;
    /*border: black;*/
    color: black;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 9px;
    cursor: pointer;
    border-radius: 12px;
}

.button1 {
    border-radius: 12px;
    background-color: white;
    border: 1px solid grey;
}

.button2 {
    border-radius: 12px;
    background-color: darkseagreen;
    border: 1px solid grey;
}

.button3 {
    border-radius: 12px;
    background-color: white;
    border: 1px solid grey;
}

.button4 {
    border-radius: 12px;
    background-color: white;
    border: 1px solid grey;
}

.button5 {
    /*background-color: darkseagreen;*/
    /*border: black;*/
    color: black;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 9px;
    cursor: pointer;
    border-radius: 12px;
    border-radius: 12px;
    background-color: white;
    border: 1px solid grey;
    position: absolute;
    top: 0px;
    right: 10px;
}

.button5:hover {
    background-color: darkseagreen;
    /*border: black;*/
    color: black;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 9px;
    cursor: pointer;
    border-radius: 12px;
}

.button6 {
    /*background-color: darkseagreen;*/
    /*border: black;*/
    color: black;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 9px;
    cursor: pointer;
    border-radius: 12px;
    border-radius: 12px;
    background-color: white;
    border: 1px solid grey;
    position: absolute;
    top: 8px;
    left: 170px;
    transition: 0.3s;
}

.button6:hover {
    background-color: darkseagreen;
    /*border: black;*/
    color: black;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 9px;
    cursor: pointer;
    border-radius: 12px;
}

.button7 {
    /*background-color: darkseagreen;*/
    /*border: black;*/
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 9px;
    cursor: pointer;
    border-radius: 12px;
    border-radius: 12px;
    background-color: #8eb2c3;
    border: 1px solid #8eb2c3;

}

.button6:hover {
    background-color: darkseagreen;
    /*border: black;*/
    color: black;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 9px;
    cursor: pointer;
    border-radius: 12px;
}

.header_cont input[type=text] {
    width: 230px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    position: absolute;
    top: 20px;
    left: 30px;
    border-radius: 12px;
    height: 20px;
    text-align: center;
}

.patient nav {
    position: absolute;
    top: 65px;
    left: 35px;
}

.patient nav ul {
    list-style-type: none;
    padding: 0;
}

.patient nav ul a {
    text-decoration: none;
}

.patient nav ul img {
    width: 5%;
    height: auto;
    margin-left: -25px;
    display: flex;
    margin-top: -20px;
}

.patient nav ul p {
    color: green;
    text-decoration: none;
    text-align: left;
}

.header_cont h3 {
    color: black;
    margin-left: -290px;
    font-size: x-large;
}

.header_cont h6 {
    color: black;
    position: absolute;
    top: -20px;
    right: 100px;
    font-size: larger;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin-right: 504px;
    border-bottom: 2px solid #8eb2c3;
}

td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    background-color: white;
}

th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    /*color: white;*/
    font-size: 1.3em;
    font-weight: 700;
    /*background-color: #8eb2c3;*/
}

/*tr:nth-child(even) {
    background-color: #dddddd;
}*/
.blue_box {
    display: block;
    clear: both;
    border: 2px border-style black;
    padding-top: 49px;
}

.blue_box span {
    background-color: white;
    color: black;
    display: block;
    float: left;
    padding: 38px;
    padding-top: 10px;
    padding-left: 20px;
    margin-left: -40px;
    width: 66%;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 3px solid #15A4FA;
}

.blue_box h1 {
    font-size: 1.3em;
    font-weight: 700;
    background-color: blue;
    padding: 5px;
    color: white;
}

.blue_box h2 {
    font-size: 1.2em;
    text-align: left;
    font-weight: 400;
}

.blue_box table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    /* text-align: center; */
    /*width: 100%;*/
    margin-right: 150px;
    margin-left: -40px;
}

.blue_box th {
    border: 1px solid #15A4FA;
    text-align: left;
    padding: 8px;
    padding-right: 2px;
    padding-left: 10px;
    color: white;
    font-size: 1.3em;
    font-weight: 700;
    background-color: #15A4FA;
    width: 130px;

}

.box1 {
    display: block;
    clear: both;
    position: absolute;
    top: 85px;
    left: 30px;
}

.box1 span {
    background-color: white;
    color: black;
    padding: 10px 5px;
    display: block;
    float: right;
}

.box2 {
    display: block;
    clear: both;
    position: absolute;
    top: 150px;
    left: 30px;

}

.box2 span {
    background-color: white;
    color: black;
    padding: 10px 5px;
    display: block;
    float: right;
    margin-top: 10px;
}

.box3 {
    display: block;
    clear: both;
    margin-right: -10px;
    margin-top: -10px;
    margin-left: -10px;

}

.box3 span {
    background-color: white;
    color: black;
    padding: 10px;
    display: block;
    float: right;
}

.box3 table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-right: 350px;
    margin-bottom: 220px;
}

.box3 th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    color: white;
    font-size: 1.3em;
    font-weight: 700;
    background-color: blue;
}

.patient2 article {
    overflow: hidden;
    position: absolute;
    top: 85px;
    left: 235px;
    height: 100%;
    width: 100%;
    border: 0px solid black;
}

.box3 button {
    background-color: white;
    /* border: black; */
    color: black;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 1px;

    /*border-radius: 12px;*/
    /*background-color: darkseagreen;*/
    border: 1px solid grey;
}

.box3 button:hover {
    background-color: blue;
    /* border: black; */
    color: white;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 1px;

    /*border: 1px solid grey;*/
}

.headerSortDown:after,
.headerSortUp:after {
    content: ' ';
    position: relative;
    left: 2px;
    border: 8px solid transparent;
}

.headerSortDown:after {
    top: 10px;
    border-top-color: silver;
}

.headerSortUp:after {
    bottom: 15px;
    border-bottom-color: silver;
}

.headerSortDown,
.headerSortUp {
    padding-right: 10px;
}

.box3 input[type=text] {
    width: 800px;
    height: 150px;
    padding: 25px;
    padding-left: 10px;
    margin: 25px;
    position: absolute;
    top: 15px;
    left: 823px;
    border-radius: 1px;
    text-align: left;
}

.page2 table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    position: absolute;
    left: 0px;
}

.page2 td {
    text-align: center;
    background-color: white;
}

.page2 textarea {
    -webkit-appearance: textarea;
    height: 150px;
    background-color: white;
    -webkit-rtl-ordering: logical;
    user-select: text;
    flex-direction: column;
    resize: auto;
    cursor: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    border-width: 1px;
    border-style: solid;
    border-color: initial;
    border-image: initial;
    padding: 2px;
    position: absolute;
    position: absolute;
    left: 0px;
    top: 65px;
    width: 49.5%;
}

.page2 button {

    background-color: white;
    /* border: black; */
    color: black;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 1px;
    /* border-radius: 12px; */
    /* background-color: darkseagreen; */
    border: 1px solid white
}

.page2-2 button {

    background-color: white;
    /* border: black; */
    color: black;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 1px;
    /* border-radius: 12px; */
    /* background-color: darkseagreen; */
    border: 1px solid white
}

.page2-2 table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 20%;
    position: absolute;
    left: 0px;
    top: 223px;
    border-bottom-color: blue;
}

.page2-2 td {
    text-align: center;
    background-color: white;
}

.msg table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    position: absolute;
    left: 0px;
    top: 300px;
    border-bottom-color: blue;
}

.msg td {
    text-align: left;
    background-color: white;
}

.form-style-9 {
    max-width: 900px;
    background: #FAFAFA;
    padding: 50px;
    margin: 10px 100px;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    border: 6px solid #8eb2c3; /*#3CB371*/
    float: inherit;
}

.form-style-9 ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.form-style-9 ul li {
    display: block;
    margin-bottom: 10px;
    min-height: 35px;
}

.form-style-9 ul li .field-style {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 8px;
    outline: none;
    border: 1px solid #B0CFE0;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;

}

.form-style-9 ul li .field-style:focus {
    box-shadow: 0 0 5px #B0CFE0;
    border: 1px solid #B0CFE0;
}

.form-style-9 ul li .field-split {
    width: 30%;
    margin-right: 30px;
}

.form-style-9 ul li .field-full {
    width: 100%;
}

.form-style-9 ul li input.align-left {
    float: left;
}

.form-style-9 ul li input.align-right {
    float: left;
}

.form-style-9 ul li textarea {
    width: 100%;
    height: 100px;
}

.form-style-9 ul li input[type="button"],
.form-style-9 ul li input[type="submit"] {
    -moz-box-shadow: inset 0px 1px 0px 0px #8eb2c3;
    -webkit-box-shadow: inset 0px 1px 0px 0px #8eb2c3;
    box-shadow: inset 0px 1px 0px 0px #8eb2c3;
    background-color: #8eb2c3;
    border: 1px solid #8eb2c3;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    padding: 8px 18px;
    text-decoration: none;
    font: 12px Arial, Helvetica, sans-serif;
}

.form-style-9 ul li input[type="button"]:hover,
.form-style-9 ul li input[type="submit"]:hover {
    background: linear-gradient(to bottom, #8eb2c3 5%, #8eb2c3 100%);
    background-color: #3CB371;
}

.boxbox {
    display: block2;
    clear: both;
    position: absolute;
    top: 85px;
    left: 30px;
    width: 16%;
}

.boxbox span {
    background-color: white;
    color: black;
    padding: 10px 2px;
    display: block;
    float: right;
}

.boxbox2 {
    display: block;
    clear: both;
    position: absolute;
    top: 245px;
    left: 30px;
    width: 16%;
}

.boxbox2 span {
    /*  background-color: white;
      color: black;
      padding: 10px 5px;
      display: block;
      float: right;*/
}

/* .boxbox2 a{
    color: red;
    text-decoration: underline;
    text-align: right;
} */
.patient2 a {
    /*    color: red;
        text-align: right;
        padding-left: 150px;
        position: absolute;
        bottom: 35px;
        left: -16px;*/
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    padding-left: 250px;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.edit button {
    background-color: white;
    /* border: black; */
    color: red;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 1px;
    /* border-radius: 12px; */
    /* background-color: darkseagreen; */
    border: 1px solid white
}

.edit table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 14.4%;
    position: absolute;
    left: 240px;
    bottom: 26px;
    border-bottom-color: blue;
}

.edit td {
    text-align: right;
    background-color: white;
}

.apptDate select.month {
    padding: 2px;
    position: absolute;
    position: absolute;
    left: 790px;
    top: 70px;
    width: 10%;

}

.apptDate select.day {
    padding: 2px;
    position: absolute;
    position: absolute;
    left: 720px;
    top: 70px;
    width: 4%;
}

.apptDate select.year {
    padding: 2px;
    position: absolute;
    position: absolute;
    left: 955px;
    top: 70px;
    width: 6%;
}

.apptDate select.clinic {
    padding: 2px;
    position: absolute;
    position: absolute;
    left: 550px;
    top: 70px;
    width: 10%;

}

.apptDate button.scheduleSubmit {
    padding: 2px;
    position: absolute;
    position: absolute;
    left: 1155px;
    top: 70px;
    width: 10%;

}

.appointment {
    padding: 2px;
    position: absolute;
    position: absolute;
    left: 550px;
    top: 200px;
    width: 10%;

}

.feedback {
    float: left;
    width: 350px;
    height: 350px;
    margin-top: 100px;
    margin-left: 100px;
    border: 15px solid rgb(0, 128, 0);
}

.feedback h1 {
    color: black;
    font-family: 'Arial Black', sans-serif;
    font-size: 62px;
    font-weight: 800;
    line-height: 72px;
    margin: 0 0 24px;
    text-align: center;
    text-transform: uppercase;
}

.feedback h2 {
    color: black;
    font-family: 'Arial Black', sans-serif;
    font-size: 80px;
    font-weight: 800;
    line-height: 72px;
    margin: 0 0 24px;
    text-align: center;
    text-transform: uppercase;
}

.feedback h3 {
    color: black;
    font-family: 'Georgia', sans-serif;
    font-size: 50px;
    font-weight: 800;
    line-height: 72px;
    margin: 0 0 24px;
    text-align: center;
    text-transform: uppercase;
}

/*----------------------------------------  */
.patient-title {
    margin: 5px 10px;
}

button.filter-button {
    position: absolute;
    left: 110px;
    bottom: 25px;
    background: #fff;
    border: 1px solid #cccccc;
    padding: 5px 20px;
    color: #8eb2c3;
    font-weight: 700;
    cursor: pointer;
}

/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    max-width: 806px;
}

div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    width: 80%;
}

.green {
    color: green;
}

.color-head {
    background: #15A4FA;
    color: #fff;
}

.button6:hover {
    background-color: #25965E;
    border: 1px solid #25965E;
    color: #fff;
}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
}

button.button2.button-active {
    background: #25965E;
    color: #fff;
    border: 1px solid #25965E;
}

button:hover.button1 {
    background: #25965E;
    border: 1px solid #25965E;
    color: #fff;
}

button:hover.button1 {
    background: #25965E;
    border: 1px solid #25965E;
    color: #fff;
}

button:hover.button2 {
    background: #25965E;
    border: 1px solid #25965E;
    color: #fff;
}

button:hover.button3 {
    background: #25965E;
    border: 1px solid #25965E;
    color: #fff;
}

button:hover.button4 {
    background: #25965E;
    border: 1px solid #25965E;
    color: #fff;
}
