/*
* multi-line comment
*/
p{ line-height: 1em; }
h1, h2, h3, h4{
    color: white;
	font-weight: bold;
	line-height: 1.1em;
	margin: 0 0 .5em 0;
  text-align: center;
}
h1{ font-size: 1.7em; }
h2{ font-size: 1.5em; }
a{
	color: black;
	text-decoration: none;
}
	a:hover,
	a:active{ text-decoration: underline; }

header {
    color: black;
    background-color: white;
    clear: left;
    padding: 20px;
}

/* you can structure your code's white space so that it is as readable for when you come back in the future or for other people to read and edit quickly */

body{
    font-family: arial; 
    font-size: 80%; 
    line-height: 1.2em; 
    width: 100%; 
    margin: 0; 
    background: #efefef;
}
/* you can put your code all in one line like above */
#page { 
  margin: 45px; 
  background: #efefef;
  height:1100px;
}

/* or on different lines like below */
#logo{
	width: 35%;
	margin-top: 5px;
	font-family: georgia;
	display: inline-block;
}
/* but try and be as concise as possible */
#nav{
	width: 35%;
	display: inline-block;
	text-align: right;
	float: right;

}
	#nav ul{}
		#nav ul li{
			display: inline-block;
			height: 62px;
      margin: 10px;
		}
			#nav ul li a{
				padding: 10px;
				background: #45A77A;
				color: white;
			}
			#nav ul li a:hover{
				background-color: #45A77A;
				/*box-shadow: 0px 1px 1px #666;*/
			}
			#nav ul li a:active{ background-color: #45A77A; }

#tab{
	width: 30%;
	display: inline-block;
	text-align: left;
	float: left;
	margin: 25px;
}

	#tab ul{}
		#tab ul li{
			display: inline-block;
			height: 10px;
      
		}
			#tab ul li a{
				padding: 20px;
				background: #45A77A;
				color: white;
        margin: 5px;
			}
			#tab ul li a:hover{
				background-color: #45A77A;
				box-shadow: 0px 1px 1px #666;
			}
			#tab ul li a:active{ 
        background-color: #45A77A; 
      }


#content1 {
	  margin: 10px 0;
    background: white;
    padding: 20px;
    clear: both;
    float: left; 
    width: 325px;
    height: 175px;
}

#content2 {
	  width: 325px;
    height: 100px;
    margin-top: 56px;
    margin-left: 400px;
    position: absolute;
    padding: 20px;
    color: black;
   
}

#content3 {
	  width: 325px;
    height: 100px;
    margin-top: 56px;
    margin-left: 775px;
    position: absolute;
    padding: 20px;
    color: black;
   
}

#content4 {
	  width: 325px;
    height: 100px;
    margin-top: 210px;
    margin-left: 400px;
    position: absolute;
    padding: 20px;
    color: black;
   
}

#content5 {
	  width: 325px;
    height: 100px;
    margin-top: 210px;
    margin-left: 775px;
    position: absolute;
    padding: 20px;
    color: black;
   
}

#content6 {
	  width: 325px;
    height: 100px;
    margin-top: 365px;
    margin-left: 400px;
    position: absolute;
    padding: 20px;
    color: black;
   
}

#content7 {
	  width: 325px;
    height: 100px;
    margin-top: 365px;
    margin-left: 775px;
    position: absolute;
    padding: 20px;
    color: black;
   
}

#content8 {
	  margin: 10px 0;
    background: white;
    padding: 20px;
    clear: both;
    float: left; 
    width: 1135px;
    height: 100px;
}

section { background-color: white; margin: 10px; border:1px solid red; padding:10px; overflow:hidden; width: 334px; height: 275px; padding-left: 10px;}
    section > section { float:left; }
    .indent-1 { padding-left:10px; width: 1130px; height: 1130px; border:1px solid #efefef; background-color: #efefef}
    .indent-2 { background-color: white; margin: 10px; border:1px solid black; padding:10px; overflow:hidden; width: 334px; height: 275px; padding-left: 10px;}

.button {
    background-color: #45A77A; 
    border: none;
    color: white;
    padding: 8px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
}

#box {
    padding:50px;
    font-size: 500%;
    align-content: center;
    color: white;
    margin-left: 58px;
}


#footer{
}
	#footer p{
		/*text-align: right;
		text-transform: uppercase;
		font-size: 80%;
		color: grey;
    padding-top: 500px;*/
    text-align: right;
    position:fixed;
    height:20px;
    bottom:0px;
    left:45px;
    right:45px;
    border-bottom: 1px #ccc solid;
    margin-bottom: 20px;
	}

/* multiple styles seperated by a , */
#content,
ul li a{ box-shadow: 0px 1px 1px #999; }


/*login page */

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 6% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  width: 300px;
  margin: 0 auto 200px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  top:30px;
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #45A77A;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #45A77A;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #45A77A;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.form-style-9{
    max-width: 900px;
    background: #FAFAFA;
    padding: 80px;
    margin: 10px 10px;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    border: 6px solid #3CB371;
    float: inherit;
}
.form-style-9 ul{
    padding:0;
    margin:0;
    list-style:none;
}
.form-style-9 ul li{
    display: block;
    margin-bottom: 10px;
    min-height: 35px;
}
.form-style-9 ul li  .field-style{
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    padding: 8px;
    outline: none;
    border: 1px solid #B0CFE0;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;

}.form-style-9 ul li  .field-style:focus{
    box-shadow: 0 0 5px #B0CFE0;
    border:1px solid #B0CFE0;
}
.form-style-9 ul li .field-split{
    width: 30%;
    margin-right: 30px;
}
.form-style-9 ul li .field-full{
    width: 100%;
}
.form-style-9 ul li input.align-left{
    float:left;
}
.form-style-9 ul li input.align-right{
    float:left;
}
.form-style-9 ul li textarea{
    width: 100%;
    height: 100px;
}
.form-style-9 ul li input[type="button"], 
.form-style-9 ul li input[type="submit"] {
    -moz-box-shadow: inset 0px 1px 0px 0px #3CB371;
    -webkit-box-shadow: inset 0px 1px 0px 0px #3CB371;
    box-shadow: inset 0px 1px 0px 0px #3CB371;
    background-color: #3CB371;
    border: 1px solid #3CB371;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    padding: 8px 18px;
    text-decoration: none;
    font: 12px Arial, Helvetica, sans-serif;
    float: left;
}
.form-style-9 ul li input[type="button"]:hover, 
.form-style-9 ul li input[type="submit"]:hover {
    background: linear-gradient(to bottom, #3CB371 5%, #3CB371 100%);
    background-color: #3CB371;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}

.logo-login{
  position: relative;
	margin-top: 0px;
  text-align: center;
}
.button1{
    border-radius: 12px;
}
.button2{
    border-radius: 12px;
}
.button3{
    border-radius: 12px;
}
.button4{
    border-radius: 12px;
}
.button1 {
    background-color: #fff;
    border: none;
    color: #000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1px 109px;
    cursor: pointer;
}

.button2 {
    background-color: #3CB371;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 1px;
    margin-right: 20px;
    cursor: pointer;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  display:inline-block;
}

.wrapper {
  text-align: center;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
}
.form-style-9 img{
   margin:60px;
   height: 120px;
   width: 200px;
}

/*Edited CSS by Mohaiman*/